.headerSpacer {
  flex: 1 1 auto;
}

a {
  text-decoration: none;
  color: white;
  font-family: cursive;
  font-size: 30px;
}

ul {
  margin: auto;
}

.bgHeader {
  background-color: #080808;
}

mat-form-field {
  margin: 5px 0px;
  font-size: 15px;
  width: 300px;
  padding: 6px;
}

.dropdown-item {
  background-color: #e91d1d;
}

a:hover,
a:active {
  color: lightgray;
}
